@import 'mixins.scss';

/*   section about   */


.about {
  margin-top: 32px;
  padding: 32px 0 120px 0;

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__pictures {
    margin-right: 104px;
    position: relative;

    &::before {
      content: '';
      bottom: -64px;
      left: -120px;
      position: absolute;
      width: 76%;
      height: 97%;
      background: #BF8B85;
      border-radius: 0px 100px;
      z-index: -1;
    }
  }

  &__main-img {
    width: 100%;
  }

  &__main-img-tablet {
    display: none;
  }

  &__main-img-phone {
    display: none;
  }

  &__text {
    max-width: 642px;

    &-top {
      @include make-fonts-with-bot-gap("Roboto", 400, 24px, 28px, 16px);
      color: #676767;
    }

    &-title {
      @include make-fonts-with-bot-gap("Roboto", 700, 36px, 42px, 32px);
    }
    
    &-main {
      max-width: 610px;
      font-size: 24px;
      line-height: 29px;
    }
  }
}

/*    responsive    */

@media screen and (max-width: 1355px) {
  .about__pictures::before {
    bottom: -32px;
    left: -56px;
    width: 62%;
  }
}

@media screen and (max-width: 1150px) {
  .about {
    padding: 32px 0 56px 0;

    &__pictures {
      margin-right: 40px;
    }

    &__text {

      &-main {
        font-size: 21px;
        line-height: 25px;
      }
    }
  }
}  

@media screen and (max-width: 1024px) {
  .about {
    &__text {

      &-top {
        @include make-fonts-with-bot-gap("Roboto", 400, 20px, 24px, 16px);
        color: #676767;
      }
  
      &-title {
        @include make-fonts-with-bot-gap("Roboto", 700, 30px, 35px, 32px);
      }
    }
  }
}  

@media screen and (max-width: 960px) {

  .about {
    margin-top: 0px;
    padding-top: 32px;
  
    &__main-img {
      display: none;
    }

    &__main-img-tablet {
      display: block;
      min-width: 280px;
      width: 100%;
    }
  
    &__pictures {
      margin-right: 40px;
  
      &::before {
        bottom: 0px;
        left: -56px;
        width: 225px;
        height: 250px;
        border-radius: 0 60px;
      }
    }
  
    &__background-img {
      display: none;
    }
  
    &__text {
  
      &-top {
        @include make-fonts-with-bot-gap("Roboto", 400, 16px, 19px, 16px);
      }
  
      &-title {
        @include make-fonts-with-bot-gap("Roboto", 700, 24px, 28px, 16px);
        max-width: 320px;
      }
      
      &-main {
        max-width: 600px;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .about {
    margin-top: 0;
  }
}

@media screen and (max-width: 750px) {
  .about-wrapper {
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .about {
    padding-bottom: 0;

    &-wrapper {
      flex-wrap: wrap;
    }

    &__text {
      order: -1;
    }

    &__pictures {
      margin: 0 auto;

      &::before {
        height: 64%;
        width: 72%;
        border-radius: 0 100px;
        left: -40px;
      }
    }

    &__text-main {
      margin-bottom: 40px;
    }
  }

  .pictures__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
  }
}

@media screen and (max-width: 440px) {
  .about {
    .section {
      padding: 0 32px 40px 32px;
    }
    &__pictures {
  
      &::before {
        bottom: -40px;
        left: -40px;
        width: 72%;
        height: 88%;
        border-radius: 0px 40px;
      }
    }

    &__main-img-phone {
      display: block;
      width: 100%;
    }

    &__main-img-tablet {
      display: none;
    }

    &__text {
  
      &-top {
        @include make-fonts-with-bot-gap("Roboto", 400, 14px, 16px, 16px);
        color: #676767;
      }
  
      &-title {
        @include make-fonts-with-bot-gap("Roboto", 700, 20px, 23px, 8px);
      }
      
      &-main {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}