@import 'mixins.scss';

/*   section advantages   */

.advantages {
    // background: linear-gradient( to bottom, #fff 50%, #FAFAFA 50%);
    position: relative;
    z-index: 0;
    padding-top: 32px;
 
    &-wrapper {
        position: relative;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
        border-radius: 40px;
        padding: 66px 56px 66px 88px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background:#fff;

        &::before {
        content: '';
        position: absolute;
        @include proportions (264px, 360px);
        background: #BF8B85;
        border-radius: 0px 100px; 
        bottom: -168px;
        right: -120px;
        z-index: -1;
        }
    }

    &-list {
      margin-left: 32px;
      margin-bottom: 24px;

      &-title {
        @include make-fonts-with-bot-gap("Roboto", 700, 24px, 29px, 16px);
      }

      &-item {
        position: relative;
        @include make-fonts-with-bot-gap("Roboto", 400, 18px, 27px, 16px);
        max-width: 440px;
        list-style: none;
    
        &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: -24px;
            width: 10px;
            height: 10px;
            border-radius: 50px;
            background:  #BF8B85;
        }
      }
    }

    &-button {
      margin-left: 24px;
      background: #FFF;
      display: inline-block;
      padding: 16px 96px;
      background: #BF8B85;
      border-radius: 16px;
      @include make-font("Montserrat", 700, 24px, 29px);
      color: #fff;
      transition: all 0.3s;

      &:hover {
        color: #fff;
        background: #AD8A64;
        box-shadow: 1px 1px 16px #d9d7d7;
        transition: all 0.3s;
       }
    }

    &-footer-text {
      @include make-fonts-with-bot-gap("Roboto", 700, 18px, 27px, 32px);
      margin-left: 24px;
    }

    &-imgs {
      position: relative;
      margin-top: 32px;
    }

    &-img {
      width: 100%;
      min-width: 320px;
    }

    &__svg {
      position: absolute;
      background: #FFF;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.13);
      @include proportions (136px, 136px);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      
    &--top {
        top: -56px;
        right: 0;
        padding: 0;
      }
    
    &--bottom {
        padding: 0;
        bottom: -64px;
        left: -16px;
      }
    } 
}
  
  .section-subtitle {
    @include make-fonts-with-bot-gap("Roboto", 400, 24px, 28px, 8px);
    color: #676767;
  }
  
  .section-title {
    @include make-fonts-with-bot-gap("Roboto", 700, 36px, 42px, 16px);
  }
  
  .section-body-text {
    @include make-fonts-with-bot-gap("Roboto", 400, 18px, 22px, 0);
    max-width: 500px;
  }
  
  .subtext {
    margin-bottom: 32px;
  }



  @media screen and (max-width: 1355px) {
    .advantages-wrapper::before {
      right: -56px;
    }
  }  
  
  @media screen and (max-width: 1250px) {
    .advantages-wrapper {
      padding: 32px 56px;
      // margin-top: 50px;
    }

    .advantages__text {
      margin-right: 16px;
    }
  }  

  @media screen and (max-width: 1120px) {
    .advantages {

      &__svg {
        @include proportions (104px, 104px);
        border-radius: 30px;

        & svg {
          @include proportions (48px, 48px);
        }
      }
    }

    .section-subtitle {
      @include make-fonts-with-bot-gap("Roboto", 400, 20px, 22px, 16px);
    }
    
    .section-title {
      @include make-fonts-with-bot-gap("Roboto", 700, 28px, 36px, 16px);
    }
    
    .section-body-text {
      font-size: 18px;
      line-height: 22px;
    }
  }

  @media screen and (max-width: 960px) {

    .advantages {
      .section {
        padding: 0 24px;
      }

      &-wrapper {
          border-radius: 40px;
          padding: 56px 32px;
          justify-content: space-between;
    
          &::before {
          @include proportions (184px, 256px);
          border-radius: 0px 72px; 
          bottom: -140px;
          right: -24px;
          }
      }

      &-list {
    
        &-title {
          @include make-fonts-with-bot-gap("Roboto", 700, 18px, 22px, 16px);
        }
    
        &-item {
          @include make-fonts-with-bot-gap("Roboto", 400, 14px, 20px, 8px);
      
          &::before {
              top: 7px;
          }
        }
      }
    
      &-button {
        margin-left: 0;
        padding: 8px 72px;
        border-radius: 12px;
        @include make-font("Montserrat", 700, 18px, 24px);
      }
    
      &-footer-text {
        @include make-fonts-with-bot-gap("Roboto", 700, 16px, 24px, 24px);
        margin-left: 0;
      }
      
    }
    
    .section-subtitle {
      @include make-fonts-with-bot-gap("Roboto", 400, 18px, 21px, 16px);
    }
    
    .section-title {
      @include make-fonts-with-bot-gap("Roboto", 700, 26px, 30px, 16px);
    }
    
    .section-body-text {
      font-size: 14px;
      line-height: 16px;
    }
  }

  @media screen and (max-width: 860px) {
    .advantages {

      &__svg {
      @include proportions (72px, 72px);
      border-radius: 22px;

      & svg {
        @include proportions (36px, 36px);
      }

      &--top {
        top: -32px;
      }

      &--bottom {
        bottom: -32px;
      }
    }
  }

    .section-subtitle {
      @include make-fonts-with-bot-gap("Roboto", 400, 16px, 19px, 16px);
    }
    
    .section-title {
      @include make-fonts-with-bot-gap("Roboto", 700, 24px, 28px, 16px);
    }

    .subtext {
      margin-bottom: 24px;
    }
  }

  @media screen and (max-width: 720px) {
    .advantages {

      .section-body-text {
        max-width: none;
      }

      &-button {
        display: block;
        @include proportions (224px, 56px);
        text-align: center;
        padding-top: 17px;
        margin: auto;
      }

      &-wrapper {
        flex-wrap: wrap;
      }
      
      &__text {
        margin-right: 0;
      }

      &-imgs {
        padding: 0 24px;
        margin: 32px auto 0;
      }
      
      &__svg {
        @include proportions (104px, 104px);
        border-radius: 32px;
  
        & svg {
          @include proportions (48px, 48px);
        }
  
        &--top {
          top: 0px;
          right: 0px;
        }
  
        &--bottom {
          bottom: 0px;
          left: 0px;
        }
      }

      &-footer-text {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 550px) {
    .advantages-img {
      min-width: 224px;
    }

    .advantages-wrapper::before {
      height: 208px; 
      bottom: -88px;
    }

    .advantages {

      &-imgs {
        padding: 0 16px;
      }

      &__svg {
        @include proportions (72px, 72px);
        border-radius: 22px;

        & svg {
          @include proportions (40px, 40px);
        }
      }

      &-list {
        margin-bottom: 16px;
      }

      &-footer-text {
        margin-bottom: 16px;
      }
    }
  }

  @media screen and (max-width: 440px) {
    .advantages {
      .section {
        padding: 0;
      }

      &-wrapper {
        padding: 32px;
  
        &::before {
        width: 148px;
        right: 0;
        }
    }
    
    &-list-title {
      font-size: 16px;
      line-height: 19px;
    }

    &-button {
      height: 40px;
      padding-top: 8px;
    }
    
    &-footer-text {
      letter-spacing: -0.06px;
      margin-bottom: 16px;
    }
    }

    .section-subtitle {
      @include make-fonts-with-bot-gap("Roboto", 400, 14px, 16px, 8px);
    }
    
    .section-title {
      @include make-fonts-with-bot-gap("Roboto", 700, 18px, 21px, 8px);
    }

    .subtext {
      margin-bottom: 8px;
  }
  }

  @media screen and (max-width: 380px) {
    .advantages {
      &__svg {
         @include proportions (48px, 48px);
         border-radius: 18px;

         & svg {
          @include proportions (24px, 24px);
         }
      }
    }
  }