@import 'mixins.scss';

@import url('better.css');
@import url('advantages.css');
@import url('bonuses.css');
@import url('connect.css');
@import url('footer.css');
@import url('header.css');
@import url('services.css');
@import url('wep-pictures.css');
@import url('statistics.css');
@import url('about-us.css');


* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  border-radius: 20px;
}

body {
  @include make-font("Roboto", 400, 18px, 22px);
  color: #000000;
}

.section {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 120px;
}

@media screen and (max-width: 1355px) {
  .section {
    padding: 0 56px;
  }
}   